.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
}
.panel, .well {
    margin-bottom: 20px;
}
.panel-default {
    border-color: #ddd;
}
.media {
    display: flex;
    align-items: center;
}

.media-control, .media-figure {
    margin-right: 1em;
}

.media-body {
    flex: 1;
    min-width: 0;
}

// .some-class-or-other {
//     overflow-x: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn .caret, .btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.media-control {
    margin-left: 1em;
}
.media-control, .media-figure {
    margin-right: 1em;
}
